@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCFBFC;
  --foreground: #171717;
  --white: #FFFFFF;
  --blue: #4B9DFA;
  --purple: #4B4BFA;
  --orange: #FA8548;  
  --gray: #697078;
  --white-gray: #989898;
  --black-gray: #383838;
  --green: #4AE060;
  --red: #FA484B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCFBFC; 
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
